body {
	font-family: arial, helvetica, sans-serif;
	background-color: lightblue;
}
.clicker {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	padding: 10%;
	border : 1px solid black;
}

#sun {
	background-color: yellow;
	border-radius: 100%;
	padding: 10em;
	margin-bottom: 1em;
}

#special {
	color: midnightblue;
	background-color: whitesmoke;
	padding: 1em;
	border-radius: 5%;
	text-transform: uppercase;
	font-weight: bold;
	visibility: hidden;
}

#display {
	border-bottom: 1px solid black;
	padding-bottom: 1.5em;
}

.game {
	display : flex;
	flex-direction: row;
	justify-content : space-around;
	max-width: 80%;
	margin: auto;
}

.upgrades {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 0.5em 1em;
	border : 1px solid black;
	min-width : 25%;
}

#boughtauto {
	visibility: collapse;
	margin: 0;
}